In [2]:
import pandas as pd # creating alias as pd

nums = pd.Series([1, 2, 3]) # list
print(nums.head()) # to print series
print(nums[2])

0    1
1    2
2    3
dtype: int64
3

In [3]:
custom_index = pd.Series(['1', float('NaN'), 3], index=['a', 11, 12]) # NaN means not a number
custom_index.head()
# custom_index = pd.Series({'a':'1', 11:float('NaN'), 12:3}) # using dictionary

a       1
11    NaN
12      3
dtype: object

In [10]:
import numpy as np
# using list
product_data=[['e-book', 2000], ['plants', 6000], ['Pencil', 3000]] # 2d list, similar to 2d array
indexes=[1,2,3]
columns_name=['product', 'unit_sold']
product_df = pd.DataFrame(data=product_data, index=indexes, columns=columns_name)
print(product_df)

# using dictionaries

product_data={'product': ['e-book', 'plants', 'Pencil'], 'unit_sold': [2000, 5000, 3000]}
product_df = pd.DataFrame(data=product_data)
print(product_df)

# using numpy array
products = np.array([['','product','unit_sold'], [1, 'e-book', 2000],[2, 'Plants', 6000], [3, 'Pencil', 3000]])
product_pf = pd.DataFrame(data=products[1:,1:], # [1:,1:] from first row till end, from first column till end
                          index=products[1:,0], # [1:,0] from first row till end, only first column
                          columns=products[0,1:]) # [1:,0] only first row, form first column till end
print(product_pf) # output is same as of first case

  product  unit_sold
1  e-book       2000
2  plants       6000
3  Pencil       3000
  product  unit_sold
0  e-book       2000
1  plants       5000
2  Pencil       3000
  product unit_sold
1  e-book      2000
2  Plants      6000
3  Pencil      3000

In [92]:
row = product_df.iloc[2] # fetch third row
rows = product_df.iloc[0:2] # fetch rows from first till third but not third

IndexError: single positional indexer is out-of-bounds

In [91]:
product_df['product'] # return column as series object

gt_products = product_df['unit_sold'] > 2500 # return a series object of bool, for values greater than 2500
products

# calculate next month target by increasing 10% and store the resultant series object in product_df under next_target column
product_df['next_target'] = product_df['unit_sold'] + ( product_df['unit_sold'] * 10)/100

In [16]:
#product_df.at['2','product']

In [48]:
insurance_df = pd.read_csv('insurance.csv', sep=',') # separator can also be changed
print(insurance_df.head(5))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [49]:
sorted_insurance_df = insurance_df.sort_values('bmi', # sort by column
                                 ascending=False, # enable descending order
                                 kind='heapsort', #sorting algorithm
                                 na_position='last') # keep NaN value at last

In [50]:
# Merge
sorted_insurance_df = pd.merge(insurance_df.head(3),
                           insurance_df.tail(3),
                           how='outer',
                           indicator = True)

In [52]:
top_df = insurance_df.head(3)
bottom_df = insurance_df.tail(3)
combined_insurance_df = pd.concat( [top_df, bottom_df] )

In [59]:
insurance_group = insurance_df.groupby('region')
print(insurance_group.get_group('southeast'))

      age     sex    bmi  children smoker     region     charges
1      18    male  33.77         1     no  southeast   1725.5523
2      28    male  33.00         3     no  southeast   4449.4620
5      31  female  25.74         0     no  southeast   3756.6216
6      46  female  33.44         1     no  southeast   8240.5896
11     62  female  26.29         0    yes  southeast  27808.7251
...   ...     ...    ...       ...    ...        ...         ...
1322   62    male  38.83         0     no  southeast  12981.3457
1323   42  female  40.37         2    yes  southeast  43896.3763
1327   51    male  30.03         1     no  southeast   9377.9047
1330   57  female  25.74         2     no  southeast  12629.1656
1335   18  female  36.85         0     no  southeast   1629.8335

[364 rows x 7 columns]

In [84]:
insurance_df = insurance_df.rename(columns={'region':'sex'},index={1:1})

In [85]:
insurance_df.isnull().values.any() # verify if any value is null
insurance_df.isnull().sum() # display summary of null values per column

age         0
sex         0
bmi         0
children    0
smoker      0
sex         0
charges     0
dtype: int64

In [86]:
insurance_df = pd.read_csv("insurance.csv", na_values = ['NA', 'N/A','-'])

In [87]:
import numpy as np
product_data={'product': ['E-book', 'Plants'], 'unit_sold': [12, np.nan]} # need to import numpy as np
product_df = pd.DataFrame(data=product_data)
product_df.fillna(0, inplace=True)

In [88]:
df = pd.DataFrame({'Name':['Saima','Syed']}, index=[1,2])
df.drop_duplicates(subset='Name',keep='last')

    Name
1  Saima
2   Syed

In [89]:
product_df = pd.DataFrame(data={'product': ['E-book', 'Plants'],
                        'unit_sold': [2000, 5000],
                        'types': [800, 200]})
product_df.to_csv('exported_file.csv',
                  index=False, # otherwise will add extra comma at start
                  sep=',',
                  encoding='utf-8')